<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles/style.css">
    <title>Alchemist Shooter</title>
    <meta charset="utf-8" lang="en">

</head>

<body>
    <header>
        <h1><a href='/'>Alchemist Shooter</a></h1>
        <nav>
            <a href="/game/playgame">Play Game</a>
            <a href="/game/instructions">Instructions</a>
            <a href="/game/leaderboard">Leaderboard</a>
        </nav>
    </header>
    
    {{{body}}}
    


</body>

</html>