<h2>Greetings</h2>

<p>You are a powerful archmage knowledgable in the practice of alchemy and magic. Your task is to withstand the barrage of evil monster horders that seek to destroy everything they lay their eyes upon. You are all that stands before the hordes and the destrction of humanity and every second you manage to delay the enemies approach will buy more time for another villager to flee. Your demise is enevitable but alas you must hold old for as long as you draw breath. Go forth with your powerful spells and vanquish the monsters of the night!!! </p>

<h3>How To Play</h3>
<div id="rules">
    <ul>
        <li>Use with a,w,d,s keys to move</li>
        <li>Enemies will appear as large squares that will chase you and reduce your health upon touching you.</li>
        <li>Aim by placing the mouse in the direction you want to shoot</li>
        <li>Fire by clicking the mouse</li>
        <li>Elements will appear as small squares that fall from the top of the screen</li>
        <li>Touching an element will heal you and allow you to use that elements power, changing you firerate and the damage of your shots</li>
    </ul>
</div>


<a href="/game/playgame">Start Game</a>